<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="/static/htmx.min.js" defer></script>
<link rel="stylesheet" href="/static/tw-out.min.css"></link>
<link rel="icon" type="image/png" sizes="32x32" href="/static/imgs/icon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/imgs/icon-16x16.png">
<link rel="shortcut icon" href="/static/imgs/icon-48x48.png">
<title>Ydo</title>
</head>
<body class="bg-gruv-white-100 text-gruv-black-800 dark:bg-gruv-black-800 dark:text-gruv-white-200">
<div class="mb-4 p-2 flex items-center sticky bg-inherit top-0 drop-shadow-sm justify-between" hx-boost="true">
  <div class="items-center gap-4 flex justify-self-start px-4 dark:text-gruv-aqua-100 text-gruv-blue-200 hover:underline">
    <a href="/" title="home" aria-label="home" class="mr-4 size-16">
    <img src="/static/imgs/logo-light.svg" alt="ydo logo" class="dark:hidden block" />
    <img src="/static/imgs/logo-dark.svg" alt="ydo logo" class="hidden dark:block" />
    </a>
    <a href="/todo" aria-label="todo">todos</a>
  </div>
  <div class="flex content-end gap-4">
    {{- if .Changed}}
    <a href="/write" hx-put="/write" hx-swap="outerHTML" class="bg-gruv-blue-100 text-gruv-black-800 p-2 rounded font-bold">Write</a>
    {{- end }}
    <a href="/exit" hx-put="/exit" hx-swap="outerHTML" class="bg-gruv-red-200 text-gruv-white-200 p-2 rounded font-bold">Exit</a>
  </div>
</div>

<div class="px-4">
{{template "tasklist.html" $}}
</div>
</body>
</html>
