{{- $task := index .Taskmap .Key }}
{{- $isdone := $task.IsDone .Taskmap }}
{{- /* not auto completed and not done */}}
{{- $color_class := "bg-gruv-white-300 hover:bg-gruv-white-200 dark:bg-gruv-black-700 dark:hover:bg-gruv-black-600" }}
{{- if $task.AutoComplete }}
{{- /* auto completed but not done */}}
{{- $color_class = "pl-0" }}
{{- if $isdone}}
{{- /* auto completed and done */}}
{{- $color_class = "bg-gruv-green-100 text-gruv-black-800" }}
{{- end }}
{{- else }}
{{- if $isdone}}
{{- /* not auto completed but done */}}
{{- $color_class = "text-gruv-black-800 bg-gruv-green-100 hover:bg-gruv-green-50" }}
{{- end }}
{{- end }}
<li class="m-2 {{- if $isdone}} list-image-[url(/static/imgs/check-light.svg)] dark:list-image-[url(/static/imgs/check-dark.svg)] {{end}}">
<button
aria-label="set as done"
hx-target="body"
type="checkbox"
class="ease-out duration-100 p-2 rounded {{ $color_class }} {{- if not $task.AutoComplete}} cursor-pointer {{- end}}"
{{- if not $task.AutoComplete}}
{{- if $isdone}}
hx-put="/undo/{{.Key}}?redirect={{.Url}}"
{{- else }}
hx-put="/do/{{.Key}}?redirect={{.Url}}"
{{- end}}
{{- end}}
>{{ $task.Task }}</button>
{{- $is_seen := index .SeenKeys .Key }}
{{- see .SeenKeys .Key }}
{{- if and (not $is_seen) (ne (len $task.Deps) 0) }}
{{template "tasklist.html" (dict "Keys" $task.Deps "SeenKeys" .SeenKeys "Taskmap" .Taskmap "Filter" $.Filter "Url" $.Url)}}
{{- end }}
</li>
